<p>Weapon: </p>
<p>Name: <%= @weapon.name.to_s.capitalize %></p>
<p>Current Power: <%= @weapon.current_power %></p>
<p>Title: <%= @weapon.title %></p>
<p>Power Base: <%= @weapon.power_base %></p>
<p>Power Step: <%= @weapon.power_step %></p>
<p>Level: <%= @weapon.level %></p>
<p>Description: <%= @weapon.description %></p>